<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <ProductDataSection xdt:Transform="Replace">
    <ProductDataSource Type="MySql"
                       ConnectionString="Database=TheVat;Data Source=us-cdbr-azure-northcentral-a.cleardb.com;User Id=ba0d423d2de73b;Password=8dd40e61"
                       FilePath=""
                       UseCache="true" />
  </ProductDataSection>
</configuration>
