<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <OrderDataSection xdt:Transform="Replace">
    <OrderDataSource Type="MySql" 
                     ConnectionString="Database=TheBar;Data Source=us-cdbr-azure-northcentral-a.cleardb.com;User Id=b5976b718628be;Password=d164b576" 
                     FilePath="C:\Users\Nolan\Documents\Beer Truck Research\TestDB.xml" 
                     UseCache="true"/>
  </OrderDataSection>
  
</configuration>
