<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <MemberDataSection xdt:Transform="Replace">
    <MemberDataSource Type="MySql"
                      ConnectionString="Database=TheTab;Data Source=us-cdbr-azure-northcentral-a.cleardb.com;User Id=b805a5e390d7f2;Password=ecb84643"
                      FilePath="C:\Users\Nolan\Documents\Beer Truck Research\OrdersDB.xml"
                      UseCache="true" />
  </MemberDataSection>
  
</configuration>
